
*{
   margin:0;
   padding:0;
   box-sizing: border-box;
}
.logo{
   border-radius: 50%;
   max-width: 10%;
   height: 10%;   
   max-width: 10%;
}
.header{
   position:fixed;
   top: 0;
   left: 0;
   width: 100%;
   padding: 20px 100px; 
   background: #286DA8;
   display: flex;
   justify-content: space-between;
   align-items: center;
   z-index: 100;
}
.navbar a{
   position: relative;
   font-size: 18px;
   color: #fff;
   font-weight: 500;
   text-decoration: none;
   margin-left: 40px;
   padding: 5px 5px;


}
.navbar a::before{
content: '';
position: absolute;
top: 100%;
left: 0;
width:0;
height: 2px;
background: #fff;
transition: .3s
}
.navbar a:hover::before{
width: 100%

}
.container{
   position: right;
   border: 5px solid rgb(0, 0, 0);
   background-color: #286DA8;
   border-radius: 3%;

}

ul.a{
   list-style-type: circle;
}
body{
   background-repeat: no-repeat;
   background-position: left top;
   padding-top: 10px;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   border-radius: 50%;
}

.background{
   background-image: url(images/HomePageBackground.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   
}

ul {
   display: flex;
   justify-content: center;
}

ul li {
   list-style-type: none; 
   font-size: 1rem;
   text-transform: uppercase;
   text-align: center;
}

li span{
   display: block; 
   font-size: 3rem;
   color: #164f80;
}

li.seperator{
   margin: 0 10px;
   font-size: 3rem;
   line-height: 1;
   color: #164f80;
}

li:first-of-type {
   margin-right: 2rem;
}

p1{
   
   text-align: center;
   
       color: black;
       font-family:'Times New Roman', Times, serif;
       font-size: 24;
   }

p2{
       text-align: left;
       color: black;
       font-family:'Times New Roman', Times, sans-serif;
       font-size: 15;
   
}
h3 {
    color:black
}
   h4 {
   color: black
   }

a {
    color:white
}

.contact_button {
   padding: 10px 20px;
   background-color: red;
   color: white;
   border: none;
   border-radius: 5px;
   transition: background-color 0.3s;
}
.contact_button:hover {
   background-color: #286DA8;
}





