.btn{
    border: 1px #286Da8;
    background: none;
    padding: 5px 10px;
    font-size: 20px;
    font-family: sans-serif;
    cursor: pointer;
    margin: 5px;
    color: white;
    background-color:#286DA8;

}

.container{
   height:400px;
   position: right;
   border: 3px solid blue;
   background-color: #286DA8;
   border-radius: 3%;

}

.position_right{
   position: absolute;
   right: 10%;
}

ul.a{
   list-style-type: circle;
}
body{
   background-image: url("logo.jpg");
   background-repeat: no-repeat;
   background-position: left top;
   padding-top: 10px;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   border-radius: 50%;
}

.background{
   background-image: url(images/HomePageBackground.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   
}

ul {
   display: flex;
   justify-content: center;
}

ul li {
   list-style-type: none; 
   font-size: 1rem;
   text-transform: uppercase;
   text-align: center;
}

li span{
   display: block; 
   font-size: 3rem;
   color: #164f80;
}

li.seperator{
   margin: 0 10px;
   font-size: 3rem;
   line-height: 1;
   color: #164f80;
}

li:first-of-type {
   margin-right: 2rem;
}

p1{
   text-align: centre;
   
       color: black;
       font-family:'Times New Roman', Times, serif;
       font-size: 24;
   }

p2{
       text-align: left;
       color: black;
       font-family:'Times New Roman', Times, sans-serif;
       font-size: 15;
   
}
h3 {
    color:black
}
   h4 {
   color: black
   }

.title-table {
    position: relative;
    background-color: #286DA8;
    min-width: 100%;
}
a {
    color:white
}
a:link{
  text-decoration: none;
color:white

}
a:hover{
   color:white;
background-color: #164f80;
}

